<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Ahmet Suna
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
					
						<li>
							<a href="/Admin/UpdateAdmin">
								<span class="link-collapse"> Şifremi Değiştir</span>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-home"></i>
					<p>Siteye Dön</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="/AdminAbout/Index">
					<i class="la la-table"></i>
					<p>Hakkında</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminSkills/Index/">
					<i class="la la-bell"></i>
					<p>Skills</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminExpericence/Index/">
					<i class="la la-apple"></i>
					<p>Expericence</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminPersonals/Index/">
					<i class="la la-apple"></i>
					<p>Personal İnfo</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminPortfolio/Index/">
					<i class="la la-apple"></i>
					<p>Portfolio İnfo</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Layout/Logout">
					<i class="la la-fonticons"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>